# We use EditorConfig to standardize settings between contributors
# See http://editorconfig.org for more info and plugin downloads

root = true

[*]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

[*.{js, json, yml}]
indent_style = space
indent_size = 2
charset = utf-8

[*.md]
trim_trailing_whitespace = false

[.gitignore]
# echo "filename" >> .gitignorre
insert_final_newline = true