doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
	body
		.navbar.navbar-default.navbar-fixed-top
				.container
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/') Crafatar
					.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href='/') Home
		block content