doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", sizes="16x16", type="image/png", href="/favicon.png")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css", rel="stylesheet")
    link(name="description" content="A Minecraft avatar service with UUID support")
    link(name="keywords" content="minecraft, avatar, uuid")
    meta(name="viewport" content="initial-scale=1,maximum-scale=1")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js")
  body
    a.forkme(href="https://github.com/Jake0oo0/crafatar", target="_blank") Fork me on GitHub
    .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand(href='/') Crafatar
    block content