doctype html
html
  head
    title= title
    link(rel="icon", sizes="16x16", type="image/png", href="/favicon.png")
    link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="description", content="Crafatar is a blazing fast Minecraft avatar API with support for avatars, skins, and even renders!")
    meta(name="keywords", content="minecraft, avatar, renders, skins, uuid, username")
    meta(name="viewport", content="initial-scale=1,maximum-scale=1")
  body
    a.forkme(href="https://github.com/crafatar/crafatar", target="_blank") Fork me on GitHub
    a.sponsor(href="https://akliz.net/crafatar", target="_blank", title="Crafatar is sponsored by Akliz")
      img(src="/images/akliz.png", alt="Akliz")
    .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand(href="/") Crafatar
          .navbar-header
            a.navbar-brand.twitter(href="https://twitter.com/Crafatar", target="_blank") crafatar
    block content