body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: #666;
}

p {
  margin-top: 10px;
}

a {
  color: #00B7FF;
}

a.anchor {
  position: relative;
  top: -50px;
}

a.forkme {
  top: 0;
  right: 0;
  z-index: 1040;
  position: fixed;
  display: inline-block;
  background: #008000;
  box-shadow: 0 0 5px #000;
  color: #fff;
  font-weight: bold;
  padding: 3px 40px;
  border: 2px solid #006400;
  -webkit-transform: rotate(45deg) translate(65px);
  transform: rotate(45deg) translate(65px);
}
a.forkme:hover {
  color: #ddd;
  text-decoration: none;
}

a.navbar-brand.twitter {
  color: #55acee;
  font-size: 16px;
}

a.navbar-brand.twitter:before {
  content: "";
  background: url("/images/twitter.png");
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

mark.green {
  background: inherit;
  color: #008000;
  font-weight: bold;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: normal;
}

h3 {
  margin-top: 2em;
}

h4 {
  margin-top: 1em;
}

.center {
  text-align: center;
}

.code {
  display: block;
  font-family: monospace;
  word-wrap: break-word;
  min-height: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: #fafafa;
  border-left: 3px solid;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 0 0 1px inset;
}

.sideface {
  width: 160px;
  height: 160px;
  display: inline-block;
}

.sideface.Jake0oo0 {
  background:url("/avatars/2d5aa9cdaeb049189930461fc9b91cc5?size=160");
}
.sideface.Jake0oo0:hover {
  background:url("/avatars/2d5aa9cdaeb049189930461fc9b91cc5?size=160&helm=true");
}
.sideface.redstone_sheep {
  background:url("/avatars/ae795aa86327408e92ab25c8a59f3ba1?size=160");
}
.sideface.redstone_sheep:hover {
  background:url("/avatars/ae795aa86327408e92ab25c8a59f3ba1?size=160&helm=true");
}
.sideface.Notch {
  background:url("/avatars/069a79f444e94726a5befca90e38aaf5?size=160");
}
/* Notch please fid your skin -_-
.sideface.Notch:hover {
  background:url("/avatars/069a79f444e94726a5befca90e38aaf5?size=160&helm=true");
}*/
.sideface.sk89q {
  background:url("/avatars/0ea8eca3dbf647cc9d1ac64551ca975c?size=160");
}
.sideface.sk89q:hover {
  background:url("/avatars/0ea8eca3dbf647cc9d1ac64551ca975c?size=160&helm=true");
}
.sideface.md_5 {
  background:url("/avatars/af74a02d19cb445bb07f6866a861f783?size=160");
}
.sideface.md_5:hover {
  background:url("/avatars/af74a02d19cb445bb07f6866a861f783?size=160&helm=true");
}

.errmsg {
  margin-top: 50px;
}