body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: #666;
}

p {
  margin-top: 10px;
}

a {
  color: #00B7FF;
}

a.anchor {
  position: relative;
  top: -50px;
}

a.forkme {
  top: 0;
  right: 0;
  z-index: 1040;
  position: fixed;
  display: inline-block;
  background: #008000;
  box-shadow: 0 0 5px #000;
  color: #fff;
  font-weight: bold;
  padding: 3px 40px;
  border: 2px solid #006400;
  -webkit-transform: rotate(45deg) translate(65px);
  transform: rotate(45deg) translate(65px);
}
a.forkme:hover {
  color: #ddd;
  text-decoration: none;
}

a.navbar-brand.twitter {
  color: #55acee;
  font-size: 16px;
}

a.navbar-brand.twitter:before {
  content: "";
  background: url("/images/twitter.png");
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

mark.green {
  background: inherit;
  color: #008000;
  font-weight: bold;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: normal;
}

h3 {
  margin-top: 2em;
}

h4 {
  margin-top: 1em;
}

.center {
  text-align: center;
}

.code {
  display: block;
  font-family: monospace;
  word-wrap: break-word;
  min-height: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: #fafafa;
  border-left: 3px solid;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 0 0 1px inset;
  position: relative;
}

.code .example {
  cursor: pointer;
}

.code .example:hover {
  color: #000;
  text-decoration: underline;
}

.preview-background {
  background: #eee;
  height: 220px;
}

.code .example-wrapper .preview {
  display: none;
  width: 100%;
  position: absolute;
  bottom: -240px;
  padding-top: 200px;
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: #666;
}

.code .example-wrapper .preview i {
  color: #aaa;
}

.code .example-wrapper:hover .preview {
  display: block;
}

#avatar-example-1:hover .preview {
  background-image: url("/avatars/jeb_");
}
#avatar-example-2:hover .preview {
  background-image: url("/avatars/jeb_?helm");
}
#avatar-example-3:hover .preview {
  background-image: url("/avatars/jeb_?size=128");
}
#avatar-example-4:hover .preview {
  background-image: url("/avatars/853c80ef3c3749fdaa49938b674adae6");
}
#avatar-example-5:hover .preview {
  background-image: url("/avatars/0?default=alex");
}
#avatar-example-6:hover .preview {
  background-image: url("/avatars/0?default=https%3A%2F%2Fi.imgur.com%2FocJVWAc.png");
}

#render-example-1:hover .preview {
  background-image: url("/renders/body/jeb_?helm&scale=4");
}
#render-example-2:hover .preview {
  background-image: url("/renders/head/853c80ef3c3749fdaa49938b674adae6?scale=8");
}

#skin-example-1:hover .preview {
  background-image: url("/skins/jeb_");
}
#skin-example-2:hover .preview {
  background-image: url("/skins/0?default=alex");
}

.errmsg {
  margin-top: 50px;
}

.jumbotron img {
  margin: 5px;
}

.avatar {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-right: 0.5em;
}

.avatar.redstone_sheep {
  background-image: url("/avatars/ae795aa86327408e92ab25c8a59f3ba1?size=64");
}
.avatar.redstone_sheep:hover {
  background-image: url("/avatars/ae795aa86327408e92ab25c8a59f3ba1?size=64&helm");
}

.avatar.jake0oo0 {
  background-image: url("/avatars/2d5aa9cdaeb049189930461fc9b91cc5?size=64");
}
.avatar.jake0oo0:hover {
  background-image: url("/avatars/2d5aa9cdaeb049189930461fc9b91cc5?size=64&helm");
}

.avatar.sk89q {
  background-image: url("/avatars/0ea8eca3dbf647cc9d1ac64551ca975c?size=64");
}
.avatar.sk89q:hover {
  background-image: url("/avatars/0ea8eca3dbf647cc9d1ac64551ca975c?size=64&helm");
}

.avatar.md_5 {
  background-image: url("/avatars/af74a02d19cb445bb07f6866a861f783?size=64");
}
.avatar.md_5:hover {
  background-image: url("/avatars/af74a02d19cb445bb07f6866a861f783?size=64&helm");
}

.avatar.jeb {
  background-image: url("/avatars/853c80ef3c3749fdaa49938b674adae6?size=64");
}
.avatar.jeb:hover {
  background-image: url("/avatars/853c80ef3c3749fdaa49938b674adae6?size=64&helm");
}

.avatar.notch {
  background-image: url("/avatars/069a79f444e94726a5befca90e38aaf5?size=64");
}
/* Notch fucked up his helm */