body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.forkme {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1040;
}

mark.green {
  background: inherit;
  color: #008000;
  font-weight: bold;
  padding: 0;
}